@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.progress-circle-svg {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-circle-prog {
  transition: stroke-dashoffset 0.6s ease 0s;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
}

#backToTopBtn:hover {
  opacity: 1;
}
