@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

.progress-circle-svg {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-circle-prog {
  transition: stroke-dashoffset 0.6s ease 0s;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.error-message {
  background-color: #ffdddd;
  color: #d8000c;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1px solid #ffa0a0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
